<nb-layout>
  <nb-layout-header>
    <span class="logo">
      <img
        src="https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg"
        alt="Google logo"
      />
      <span>
        <h5 class="logo__text">Photo Albums</h5>
      </span>
    </span>
    <span>
      <input
        [formControl]="inputFormControl"
        nbInput
        type="text"
        placeholder="Enter value"
        [nbAutocomplete]="auto"
      />
      <nb-autocomplete #auto>
        @for (option of (filteredOptions$ | async); track option) {
        <nb-option [value]="option">
          {{ option }}
        </nb-option>
        }
      </nb-autocomplete>
    </span>
  </nb-layout-header>
  <nb-layout-column>
    <div>
      <h5>Albums</h5>
      <div class="image-cards-list">
        @if (treeNode) {
          @for (childNode of treeNode.childNodes; track childNode.id) {
            <nb-card class="image-card">
              <nb-card-body>
                <img
                  src="https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg"
                  alt="Google logo"
                />
              </nb-card-body>
            </nb-card>
            }
        }
      </div>
    </div>
    <div>
      <h5>Photos</h5>
    </div></nb-layout-column
  >
</nb-layout>
