.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.image-cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 15rem);
  grid-template-rows: auto;
  gap: 2.5rem;
}

.image-card {
  width: fit-content;
}
