.breadcrumbs {
  display: inline-flex;
  gap: 0.25rem;
  list-style: none;
  justify-content: start;
  align-items: center;
  padding: 0;
  margin: 0;

  &__item > a {
    text-decoration: none;
  }

  &__item > a:hover {
    text-decoration: underline;
  }
}
