<nb-layout>
  <nb-layout-column class="intro-section__container">
    <div class="intro-section">
      <div class="intro-section__left-panel">
        <h3 class="intro-section__title">
          <strong>Google Photos Drive</strong>
        </h3>
        <p class="intro-section__subtitle">
          View your photos on Google Photos better!
        </p>
        <button nbButton status="info" (click)="handleLoginClick()">
          <nb-icon icon="google-outline"></nb-icon> Login
        </button>
      </div>
      <img
        src="https://silly-mirzakhani-2a7996.netlify.app/static/media/files-list-page.73fcf2c2381e88e2cee9.png"
        alt="Intro section"
        class="intro-section__image"
      />
    </div>
  </nb-layout-column>
</nb-layout>
