.content-page {
  &__header {
    position: fixed;
    height: calc(4.5rem + 4px);
    width: 100%;
    left: 0px;
  }

  &__contents {
    padding-top: calc(4.5rem + 4px);
  }

  &__breadcrumbs {
    padding-bottom: 1rem;
    display: block;
  }
}
