<div class="album-card">
  <img
    class="album-card__image"
    [src]="coverPhotoBaseUrls[0]"
    loading="lazy"
    [alt]="albumTitle + ' album'"
  />
  <div class="album-card__details">
    <div>{{ albumTitle }}</div>
    <div>
      @if (numPhotos > 0 && numSubAlbums > 0) {
      {{ numPhotos }} {{ numPhotos === 1 ? "photo" : "photos" }} &middot;
      {{ numSubAlbums }} {{ numSubAlbums === 1 ? "album" : "albums" }}
      } @else if (numPhotos > 0) {
      {{ numPhotos }} {{ numPhotos === 1 ? "photo" : "photos" }}
      } @else {
      {{ numSubAlbums }} {{ numSubAlbums === 1 ? "album" : "albums" }}
      }
    </div>
  </div>
</div>
