<div>
  <h5 class="photos-section__header">Photos</h5>
  <div class="photos-section__cards-list">
    @for (photo of photos; track photo.id) {
    <app-photo-card
      [imgSrc]="photo.baseUrl"
      [imgName]="photo.filename ?? ''"
      (click)="handlePhotoClick(photo)"
    />
    }
  </div>

  <div class="photos-section__more-photos-container">
    <button nbButton status="basic" (click)="handleMorePhotosClick()">
      @if (numPhotosLeft && numPhotosLeft > 0) {
        Show more photos ({{numPhotosLeft}}+)
      } @else {
        Show more photos
      }
    </button>
  </div>
</div>
