.photos-section {
  &__header {
    margin-top: 0;
  }

  &__cards-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 15rem);
    grid-template-rows: auto;
    gap: 2.5rem;
  }

  &__more-photos-container {
    text-align: center;
    margin: 2rem 0;
  }
}
