<div>
  <h5 class="photos-section__header">Photos</h5>

  <ngx-masonry
    class="photos-section__cards-list"
    [options]="masonryOptions"
    [ordered]="true"
  >
    @for (photo of photos; track photo.mediaItem.id) {
    <app-photo-card
      ngxMasonryItem
      class="photo-section__image-card"
      [imgSrc]="photo.mediaItem.baseUrl"
      [imgName]="photo.mediaItem.filename ?? ''"
      [width]="photo.width"
      [height]="photo.height"
      (click)="handlePhotoClick(photo)"
    />
    }
  </ngx-masonry>

  <div class="photos-section__more-photos-container">
    <button nbButton status="basic" (click)="handleMorePhotosClick()">
      Show more photos
    </button>
  </div>
</div>
